[submodule "submodules/IsaacLab"]
	path = submodules/IsaacLab
	url = https://github.com/lgulich/IsaacLab.git
[submodule "submodules/Isaac-GR00T"]
	path = submodules/Isaac-GR00T
	url = git@github.com:NVIDIA/Isaac-GR00T.git
